img {
  width: 60px;
}
.grilla {
  display: flex;
  flex-wrap: wrap;
}

.grilla > div {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ocultar {
  display: none;
}
