img {
  width: 40px;
}

/* tenemos que abandonar este flexbox para poser usar position y mover los elementos  desde linea 14 a 23 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #ff5cb849;
  border-radius: 20px;
  /* position: relative;
  left: 50%;
  right: 50%; */
}

#modal-bienvenida {
  position: absolute;
  z-index: 11111;
}

#modal-tarjeta {
  width: 500px;
}

#texto {
  margin: 0 25px 0 25px;
}

#modal-texto {
  display: flex;
  align-items: center;
  flex-direction: column;

}

#modal-controles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#modal-controles h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

#boton-jugar {
  background-color: #d81b60;
  margin-left: 350px;
}

.boton-dificultad {
  background-color: #d81b60 !important;
}

.grilla > div {
  width: 80px;
  height: 80px;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ocultar {
  display: none !important ;
  
}

body {
  width: 100vw;
  background-image: url(img/Fondo-Arco-Iris.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* -------------------- INICIO GATITO CLICKEABLE------------------ */
.imagen-gatito {
  width: 80%;
  animation-iteration-count: 1;
}
.clickeable {
  animation-name: clickeable;
  animation-duration: 1s;
}
@keyframes clickeable {
  20% {
    transform: scale(0.5);
  }
}
/* -------------------- FIN GATITO CLICKEABLE------------------ */
